.header{
    background-image: url("../../images/dogHeader.jpeg");
    background-size: cover;
}
.headerHeading {
    color: rgb(30, 93, 132);
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    margin: 0px;
  }
  #shpac{
    width: 50px;
  }
  .input-box{
width: 60px;
display: inline-block;
  }
  .dogImg{
    width: 70px;
  }
  .selectedDogImg{
    width: 70px;
  }
  #customRange3{
    width: 42%;
  }
.startWight{
  margin-left: 5%;
}
input[type=range] {
  padding: 0% 0 0 0 !important;
  height: 10px;
  -webkit-appearance: none;
  width: 100%;
  background-color: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #1E5D84;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 2px 2px 3px #808080;
  height: 30px;
  width: 30px;
  border-radius: 48px;
  background-image: url("../../images/rangeThum1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #1E5D84;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #1E5D84;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 2px 2px 3px #808080;
  border: 1px solid #FFF5F5;
  height: 25px;
  width: 25px;
  border-radius: 48px;
  /* background: #FF4112; */
  background-image: url("../../images/rangeThum1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #1E5D84;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #1E5D84;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 2px 2px 3px #808080;
  border: 1px solid #FFF5F5;
  height: 37px;
  width: 38px;
  border-radius: 48px;
  background: #FF4112;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #371A90;
}
input[type=range]:focus::-ms-fill-upper {
  background: #371A90;
}



  
  .selecteddogContainer{
    /* border: 2px solid #1E5D84; */
    border-radius: 10px;
    display: inline-block;
    width: 70px;
    margin-left: 5px;
    text-align: center;
    
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
 }
/* ----------------------------------------------
 * Generated by Animista on 2023-4-12 14:49:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.50);
            transform: scale(1.50);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.50);
            transform: scale(1.50);
    opacity: 1;
  }
}




 .dogContainer{
    display: inline-block;
    width: 70px;
    
    margin-left: 5px;
    text-align: center;
 }
 .form-range{
    width:46%;
   
 }

 @media (max-width: 600px) {
.dogImg{
    width: 60px;
  }
  .dogContainer{
  
    width: 74px;
    
    
 }


 }
